{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-async-to-generator", // 这个好像只要下载了 不用在这里配置也行
        "@babel/plugin-syntax-dynamic-import"
    ]
}